<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Management</title>
</head>
<body style="background-image:url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=541&q=80'); background-color:cyan;">
    <h2 style="color: blue;"><marquee>College of Engineering, Pune </marquee></h2>
    <div style="background-color: whitesmoke;width: 20%;padding: 30px;border: 1px solid #cbcbcb;margin:50px auto;">
        <p><h2>Welcome to Library!!</h2></p>
        <div>
            <h3>Login As:</h3>
            <ul>
                <li>
                <form method="get" action="admin_login">
                    <button type="submit">Admin</button>
                </form>
                </li>
                <br>
                <li>
                <form method="get" action="login">
                    <button type="submit">Member</button>
                </form>
                </li>
            </ul>
        </div>
        <div>
            <h3>Don't have an account?</h3>
            <form method="get" action="registration">
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>
    <!--<a href="registration/">Register</a><br>
    <a href="login/">Login</a><br>
    <a href="logout/">Logout</a><br>-->


