<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body style="text-align: center;">
    <h4><marquee>College of Engineering, Pune</marquee></h4>
    <h3>Welcome <strong style="color : green;">{{name}}</strong></h3>
    <h3>Your ID is <strong style="color : blue;">{{mid}}</strong>. </h3>
    <h3>You have issued {{num}} books from library.</h3>
    <h3>Book ID's of books issued to you : {{book}}</h3>

    <Br><Br><Br><Br><Br>
        <a href="/book/">Take me to homepage...</a>
</body>
</html>